body {
  margin:0;
  background-color: #fffff0;
  font-family: 'Karla', 'Noto Sans KR', sans-serif;
}

.container {
  padding: 60px 30px;
  max-width: 700px;
  text-align: left;
}

h1 {
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  letter-spacing: -0.02em;
  
}

p {
  font-size: 15px;
  max-width: 500px;
  line-height: 1.4;
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  letter-spacing: -0.02em;

}



.email-link {
  margin-top: 2rem;
  font-size: 10px;
  color: #555;
  cursor: pointer;
}
