body {
  margin:0;
  background-color: #fffdf9;
  font-family: 'Pretendard', sans-serif;
}

.container {
  padding: 60px 30px;
  max-width: 700px;
  text-align: left;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 1.6;

}



.email-link {
  margin-top: 2rem;
  font-size: 1rem;
  text-decoration: underline;
  color: #555;
  cursor: pointer;
}

.email-link:hover {
  color: #000;
}
